@import url('https://fonts.googleapis.com/css?family=Poppins:200,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

section{
    padding: 100px;
}

.banner{
    position: relative;
    min-height: 100vh;
    background: url(Images/banner.jpg);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

.bannerTinkersPro{
    position:relative;
    min-height: 100vh;
    background: url(Images/bannertinkerspro.jpg);
    background-size:cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

.bannerTinkersPro h2{
    font-size: 2em;
    color: #fff;
    font-weight: 500;
    line-height: 1.5em;
}
.bannerTinkersPro h3{
    font-size: 2em;
    color: #fff;
    font-weight: 500;
    line-height: 1.5em;
}
.bannerTinkersPro h2 span{
    font-size: 1.5em;
    font-weight: 700;
}

.textBx p{
    font: size 0em;
    color: #fff;
    font-weight: 500;
    line-height: 1.5em;
}
.banner h2{
    font-size: 3em;
    color: #fff;
    font-weight: 500;
    line-height: 1.5em;
}
.banner h2 span{
    font-size: 1.5em;
    font-weight: 700;
}
.banner h3{
    font-size: 1.5em;
    color: #fff;
    font-weight: 500;
}
.btn{
    position: relative;
    background: #06759E;
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header.sticky{
    background: #F5F3FD;
    padding: 20px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1); 
    transition: 0.6s;
}
header .logo{
    color: #F5F3FD;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}
header.sticky .logo{
    color: #111;
}

.imglogo{
    width: 48px;
    height: 48px;
    margin: none;
    padding: none;
}

header ul{
    position: relative;
    display: flex;
}
header ul li{
    position: relative;
    list-style: none;
}
header ul li a{
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: #F5F3FD;
    text-decoration: none;
}
header.sticky ul li a{
    color: #111;
}

.about{
    background: #ffffff;
}
.heading{
    width: 100%;
    text-align: left;
    margin-bottom: 30px;
    color: #111;
}
.heading h2{
    font-weight: 600;
    font-size: 30px;
}
.content{
    display: flex;
    justify-content: space-between;
}
.contentBx{
    padding: 30px;
}
.contentBx h3{
    font-size: 24px;
    margin-bottom: 10px;
}
.w50{
    min-width: 50%;    
}

.imgUser1{
    max-width: 99%;
    margin-left: 5px;

    background:#000; /*black if no img*/
    border:solid #fff;
    border-width:6px 6px 6px 6px;
    box-shadow:1px 1px 5px #333; /* Standard blur at 5px. Increase for more depth */
}
.imgUser2{
    max-width: 100%;
    margin-left: 5px;

    background:#000; /*black if no img*/
    border:solid #fff;
    border-width:6px 6px 6px 6px;
    box-shadow:1px 1px 5px #333; /* Standard blur at 5px. Increase for more depth */
}
.imgUser3{
    max-width: 100%;
    margin-left: 5px;

    background:#000; /*black if no img*/
    border:solid #fff;
    border-width:6px 6px 6px 6px;
    box-shadow:1px 1px 5px #333; /* Standard blur at 5px. Increase for more depth */
}
.imgUser4{
    max-width: 100%;
    margin-left: 5px;

    background:#000; /*black if no img*/
    border:solid #fff;
    border-width:6px 6px 6px 6px;
    box-shadow:1px 1px 5px #333; /* Standard blur at 5px. Increase for more depth */
}
.services{
background: #333;
height: auto;
}
.heading.white{
    color: #F5F3FD;
}
.services .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.services .content .servicesBx{
    padding: 40px 20px;
    background: #333;
    color: #F5F3FD;
    max-width: 340px;
    margin: 20px;
    text-align: center;
    transition: 0.5s;
}
.services .content .servicesBx:hover{
    background: #06759E;
}
.services .content .servicesBx img{
    max-width: 80px;
    filter: invert(1);
}
.services .content .servicesBx h2{
    font-size: 20px;
    font-weight: 600;
}



.container{
    width:auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.container .card{
    margin: 40px;
    position: relative;
}
.container .card .face{
    width: 350px;
    height: 200px;
    transition: 0.5s;
}
.container .card .face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}
.container .card:hover .face.face1{
    background: #06759E;
    transform: translateY(0);
}

.container .card .face.face1 .content{
opacity: 0.2;
transition: 0.5s;
}
.container .card:hover .face.face1 .content{
    opacity: 1;
}
.container .card .face.face1 .content img{
    max-width: 100px;
}
.container .card .face.face1 .content h3{
    margin: 10px 10px 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.container .card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8); 
    transform: translateY(-100px);
}
.container .card:hover .face.face2{
    transform: translateY(0);
}
.container .card .face.face2 .content p{
    margin: 0;
    padding: 0;
}

.container .card .face.face2 .content a{
    margin: 15px 0 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}
.container .card .face.face2 .content a:hover{
    background: #333;
    color: #fff;
}

.work .content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.work .content .workBx{
    width: 30%;
    padding: 20px;
}
.work .content .workBx img{
    transition:all .4s ease-in-out;
-webkit-transition:all .4s ease-in-out;
-moz-transition:all .4s ease-in-out;
-ms-transition:all .4s ease-in-out;
-o-transition:all .4s ease-in-out;
    max-width: 100%;
    /* filter: drop-shadow(30px 10px 4px #4444dd); */
    box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
}
.work .content .workBx img:hover{
    transform:scale(1.1);
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -o-transform:scale(1.1);
}

.testimonial{
    background: #f7f7f7;
}
.testimonial .content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.testimonial .content .testimonialBx{
    max-width: calc(50% - 40px);
    padding: 60px 40px;
    margin: 20px;
    background: #06759E;
}
.testimonial .content .testimonialBx p{
    color: #F5F3FD;
    font-style: italic;
    font-size: 16px;
    font-weight: 300;
}
.testimonial .content .testimonialBx h3{
    margin-top: 40px;
    text-align: end;
    color: #F5F3FD;
    font-weight: 600;
    font-size: 20px;
    line-height: 1em;
}
.testimonial .content .testimonialBx h3 span{
    font-size: 14px;
    font-weight: 400;
}
.contact{
    background: #333;
}
.formBx{
    min-width: 60%;
}
.formBx form{
    display: flex;
    flex-direction: column;
}
.formBx form h3,
.contactInfo h3{
    color: #F5F3FD;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
.formBx form input,
.formBx form textarea{
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: none;
    background: #222;
    color: #F5F3FD;
    resize: none;
}
.formBx form textarea{
    min-height: 200px;
}
.formBx form input::placeholder,
.formBx form textarea::placeholder{
    color: #999;
}
.formBx form input[type="submit"]{
    max-width: 100px;
    background: #06759E;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.contactInfo{
    min-width: 40%;
}
.contactInfoBx{
    position: relative;
}
.contactInfoBx .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.contactInfoBx .box .icon{
    min-width: 40px;
    padding-top: 4px;
    color: #F5F3FD;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 24px;
}
.contactInfoBx .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #F5F3FD;
    flex-direction: column;
    font-weight: 300;
}
.contactInfoBx .box .text h3{
    font-weight: 500;
    color: #06759E;
    margin-bottom: 0;
}
.copyright{
    background: #222;
    color: #F5F3FD;
    text-align: center;
    padding: 10px;
}

/*TinkersPro*/
.imgDT{
    max-width: 70%;
    margin-left: 50px;
}
.intro{
    background: #F5F3FD;
}
.problema{
    background: #dadada;
    margin-left: 0%;
}
.imgDTProcess{
    max-width: 100%;
}
.publico{
    background: #F5F3FD;
}
.imgDTUsers{
    max-width: 70%;
    margin-left: 50px;
}
.roles{
    background: #dadada;
}
.imgDTRol{
    max-width: 70%;
}
.limites{
    background: #F5F3FD;
}
.proceso{
    background: #dadada;
}
.imgDTUserProcess{
    max-width: 50%;
    margin-left: 50px;
}
.feedback{
    background: #F5F3FD;
}

/*Responsive*/
@media (max-width: 991px)
{
    header,
    header.sticky
    {
        padding: 20px 50px;
        z-index: 1000;
    }
    .menu{
        position: fixed;
        top: 75px;
        left: -100%;
        display: block;
        padding: 100px 50px;
        text-align: center;
        width: 100%;
        height: 100vh;
        background: #F5F3FD;
        transition: 0.5s;
        z-index: 999;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
    }
    .menu.active
    {
        left: 0;
    }
    header ul li a
    {
        color: #111;
        font-size: 24px;
        margin: 10px;
    }
    .toggle{
        width: 40px;
        height: 40px;
        background: url(menu.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        cursor: pointer;
    }
    .toggle.active{
        background: url(close.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 25px;
        cursor: pointer;

    }
    header.sticky .toggle{
        filter: invert(1);
    }
    section{
        padding: 100px 50px;
    }
    .banner{
        padding: 150px 50px 100px;
    }
    .banner h2{
        font-size: 1.5em;
    }
    .banner h3{
        font-size: 1em;
    }
    .btn{
        margin-top: 10px;
        padding: 10px 20px;
        font-size: 16px;
    }
    .heading h2
    {
        font-size: 24px;
    }
    .contentBx h3
    {
        font-size: 20px;
    }
    .content{
        flex-direction: column;
    }
    .w50{
        margin-bottom: 20px;
    }
    .services .content .servicesBx{
        margin: 10px;
    }
    .work .content .workBx{
        width: 100%;
        padding: 10px;
    }
    .testimonial .content .testimonialBx{
        max-width: calc(100% - 20px);
        padding: 40px 20px;
        margin: 10px;
        background: #06759E;
    }
    .testimonial .content .testimonialBx h3{
        margin-top: 20px;
    }
    .contactInfo{
        margin: 20px 0;
    }
}

@media (max-width: 600px)
{
    header,
    header.sticky
    {
        padding: 20px 20px;
    }
    .banner{
        padding: 150px 20px 100px;
    }
    section{
        padding: 100px 20px;
    }
}
